@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css');
*{
    margin:0;
    padding:0;
    box-sizing: border-box; 
}
:root{
    --myfont:'Mulish', sans-serif;
    --my-btn-font:'Monrserrat', sans-serif;
    --lg-lightcolor:linear-gradient(to left, rgba(116,225,213,0));
    --lg-color:linear-gradienr(to left,#74ebd5,#9face6);
}
body{
    background-image: var(--lg-lightcolor), url('formback.jpeg');
    background-size: 100%;background-repeat: no-repeat;
    font-family: var(--myfont);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
}
.container{
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius:10px;
    box-shadow: 0 2.8px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12px 0 rgb(2, 2, 10);
    overflow:hidden;
    width: calc(100vw -65vw);
    max-width: 100%;
}
.header{
    background: var(--lg-color);
    padding:30px 0;
}
.header h2{
    color: #222;
    font-family: var(--my-btn-font);
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
}