.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 50px);

}

.box {
    background-color:rgb(141, 219, 31);
    border: 1px solid rgb(29, 8, 8);
    height: 200px;
    width: 200px;
}