.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 50px);

}

.box {
    background-color:gray;
    border: 1px solid rgb(214, 38, 38);
    height: 200px;
    width: 200px;
}