.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 50px);

}

.box {
    background-color:rgb(218, 155, 120);
    border: 1px solid rgb(182, 8, 8);
    height: 200px;
    width: 200px;
}