.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 50px);

}

.box {
    background-color:rgb(157, 213, 44);
    border: 1px solid rgb(186, 69, 69);
    height: 200px;
    width: 200px;
}