@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css');
*{
    margin:0;
    padding:0;
    box-sizing: border-box; 
}
:root{
    --myfont:'Mulish', sans-serif;
    --my-btn-font:'Monrserrat', sans-serif;
    --lg-lightcolor:linear-gradient(to left, rgba(116,225,213,0));
    --lg-color:linear-gradienr(to left,#34bba3,#606fb1);
}
body{
    background: var(--lg-lightcolor);
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: var(--myfont);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
}
.container{
    background-color: rgb(212, 203, 203);
    border-radius: 10px;
    -webkit-border-radius:10px;
    box-shadow: 0 2.8px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12px 0 rgb(2, 2, 10), 0 2.8px rgba(0, 0, 0, 0.034);
    overflow:hidden;
    width: calc(100vw -65vw);
    max-width: 100%;
}
.header{
    background: linear-gradient(--lg-color);
    padding:30px 0;
}
.header h2{
    color: #222;
    font-family: var(--my-btn-font);
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    background: var(--lg-lightcolor);
}
.form{
    padding:40px;
    background:linear-gradient(to right, #3bc9af, #5f6a99);
}
.form-control{
    margin-bottom:20px;
    position:relative;
}
.form-control label{
    display:inline-block;
    margin-bottom:5px;
}
.form-control input{
    width:100%;
    border:2px solid #f0f0f0;
    border-radius: 5px;
    display: block;
    font-family: var(--myfont);
    font-size: 14px;
    padding:12px;
}
.form .btn{
    background: var(--lg-color);
    border-radius:6px;
    border:none;
    outline: none;
    color:rgb(7, 9, 11);
    display: block;
    font-family: var(--my-btn-font);
    font-size: 16px;
    padding:15px 0 ;
    margin-top: 20px;
    width: 100%;
    font-weight: bold;
    text-transform:uppercase;
    transition:all 1s ease;
}
.form .btn:hover{
    background: linear-gradient(to right, #3bc9af, #5f6a99);
}
@media(max-width:998px){
    .container{
        width:calc(100vw-35vw);
        max-width:100%;
    }
}