.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 50px);
}

.box {
    background-color: lightgray;
    border: 1px solid black;
    height: 200px;
    width: 200px;
}